button{
    width: 52px;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:indigo;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #fbff00;
    height: 100%;
    width: 0%;
    border-radius: 25 px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width:100%;
}
button:hover{
    border:none;
}