body{
    background-color: yellow;
    font-family:"Jost";
    padding-left: 30px;
}
div{
    font-weight:800;
    font-size: 94pt;
    text-transform:uppercase;
}
.verse1{
    width:33%;
    font-weight:200;
    text-transform:lowercase;
    font-size: 15pt;
}
.verse2{
    width:33%;
    font-weight:400;
    text-transform:lowercase;
    font-size: 15pt;
    position:absolute;
    top:550px;
    left:450px;
    padding-bottom: 30px;
    border-bottom: 10px dashed rgb(255, 0, 136);
    text-align: center;
}
.verse3{
    width:33%;
    font-weight:800;
    text-transform:lowercase;
    font-size: 15pt;
    position:absolute;
    top:550px;
    left:800px;
    text-align: right;
}
button{
    width: 52px;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:indigo;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #fbff00;
    height: 100%;
    width: 0%;
    border-radius: 25 px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width:100%;
}
button:hover{
    border:none;
}