body{
    background-color: blueviolet;
}
h1{
    font-family:"VT323";
    color:whitesmoke;
    text-transform: uppercase;
    font-size: 50pt;
    text-align: center;
}
div{
    font-family:"Sedgwick Ave";
    color:whitesmoke;
    font-size: 24pt;
    margin-left:10%;
}
.verse1{
    line-height: 50pt;
    text-align: center;
    margin-right:10%;
}
.verse2{
    line-height: 40pt;
    text-align-last: justify;
    margin-right:10%;
}
.verse3{
    position: absolute;
    top:1100px;
    left:360px;
    text-align: center;
}
.verse4{
    position: absolute;
    top:1090px;
    right:10%;
    text-align: right;
    padding-bottom:10%;
}
.verse5{
    position: absolute;
    top:1110px;
    left:360px;
    text-align: center;
    line-height: 2pt;
}
h2{
    font-size: 40pt;
    text-align:center;
}
button{
    width: 52px;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:indigo;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #fbff00;
    height: 100%;
    width: 0%;
    border-radius: 25 px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width:100%;
}
button:hover{
    border:none;
}