.square {
    height:100vh;
    width: 50%;
    background-color: rgb(89, 0, 255);
}
.scale-in-hor-left {
	-webkit-animation: scale-in-hor-left 6s cubic-bezier(0.860, 0.000, 0.070, 1.000) infinite alternate both;
	        animation: scale-in-hor-left 6s cubic-bezier(0.860, 0.000, 0.070, 1.000) infinite alternate both;
}
@-webkit-keyframes scale-in-hor-left {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-hor-left {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
  }  
  @font-face {
    font-family:gill;
    src: url(gill-sans-nova/Monotype\ \ -\ Gill\ Sans\ Nova\ Cn\ ExtraBold.ttf);
  }
  @font-face {
    font-family: basis;
    src: url(FontsFree-Net-BasisGrotesquePro-Regular.ttf);
  }
  .title{
      font-family: gill;
      font-weight:800;
      font-size: 70px;
      width:46vw;
      line-height: 50px;
      color:white;
      position: absolute;
      top:10%;
      left:3%;
  }
  .author{
    font-family: gill;
    font-weight:600;
    font-size: 30px;
    color:rgb(89, 0, 255);
    position: absolute;
    top:10%;
    left:53%;
}
.the-poem{
    font-family: basis;
    font-weight: 200;
    font-size: 16px;
    position:absolute;
    top:20%;
    left:53%;
    color:rgb(89, 0, 255);
}
text{
    font-family: gill;
    font-weight: 400;
    font-size: 16px;
    position:relative;
    bottom:10pt;
    line-height: 40px;
}
button{
        width: 52px;
        padding: 15px 0;
        margin: 20px 10px;
        text-align: center;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #009688;
        background: transparent;
        color:indigo;
        cursor:pointer;
        position: relative;
        overflow: hidden;
    }
    span{
        background: #fbff00;
        height: 100%;
        width: 0%;
        border-radius: 25 px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.5s;
    }
    button:hover span{
        width:100%;
    }
    button:hover{
        border:none;
    }