@font-face {
    font-family:mil;
    src: url(milanoromanregular.ttf);
}
body{
    background-color: black;
}
.title{
    font-family:mil;
    text-transform:capitalize;
    font-weight: 900;
    font-size: 50pt;
    border: 5px;
    border-style: double;
    border-radius: 10px 0px 50px 0px;
    background-color: rgb(25, 0, 255);
    color:blanchedalmond;
    width: 40%;
    padding:10px 20px;
}
.verse1{
    font-family:"Jost";
    text-transform:lowercase;
    font-weight: 600;
    text-align: center;
    font-size: 24pt;
    border: 5px;
    border-style: double;
    border-radius: 0px 10px 0px 50px;
    background-color: blanchedalmond;
    color:black;
    width: 52%;
    padding:32px 20px;
    position:absolute;
    top:5px;
    right:0%;
}
.verse2{
    font-family:"Jost";
    text-transform:uppercase;
    font-weight: 300;
    text-align-last: justify;
    font-size: 14pt;
    border: 5px double black;
    background-color: rgb(248, 47, 255);
    color:#000000;
    width: 64.6em;
    padding:20px 20px;
    position:absolute;
    top:215px;
    right:1px;
}
.verse3{
    font-family:"Jost";
    text-transform:uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 24pt;
    border: 5px double black;
    background-color: rgb(205, 255, 230);
    color:#000000;
    width: fit-content;
    padding:20px 55px;
    position:absolute;
    top:592px;
    right:1px;
    letter-spacing: -1pt;
}
button{
    width: 52px;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:indigo;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #fbff00;
    height: 100%;
    width: 0%;
    border-radius: 25 px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width:100%;
}
button:hover{
    border:none;
}
p{
    position: absolute;
    top: 120vh;
}