.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .poem {
    width: fit-content;
    animation: typing 14s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 14pt;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  .fade-out {
	-webkit-animation: fade-out 6s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
	        animation: fade-out 6s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}
@-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }     
  .title{
      font-family: "Jost";
      font-weight: 900;
      font-size:60pt;
      width:40vw;
      color:white;
      background-color: #AF69EE;
      text-align: center;
      padding:50px 30px 20px 30px;
      display: block;
      position:absolute;
      left:27vw;
      border-radius: 15px;
  }
  text{
      font-weight:300;
      font-size: 14pt;
      position: relative;
      bottom: 40px;
  }
  button{
    width: 52px;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:indigo;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #fbff00;
    height: 100%;
    width: 0%;
    border-radius: 25 px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width:100%;
}
button:hover{
    border:none;
}