@font-face {
    src: url("Starseeds.ttf");
    font-family:Star;
}
body{
    background-color: rgb(206, 0, 96);
}
.title{
    font-family:Star;
    font-size:70pt;
    text-align: center;
    letter-spacing: 10pt;
    color: aliceblue;
    position:relative;
    top:60px;
}
.author{
    font-family: "Space Mono";
    font-weight:400;
    font-style: oblique;
    color:rgb(255, 255, 255);
    position: relative;
    top:50px;
    left:500px;
    border:2px solid white;
    border-radius: 50px;
    width:fit-content;
    padding:10px 20px;
}
p{
    font-family: "Space Mono";
}
.verse1{
    font-size: 33pt;
    color:aliceblue;
    text-align: start;
    position: relative;
    top:100px;
    margin:0px 30px;
    padding-bottom: 30px;
}
.background{
    font-size: 100pt;
    color: rgb(123, 255, 123);
    text-align: center;
}
.background1{
    font-family:Star;
    font-size: 500pt;
    color: rgb(0, 46, 32);
    text-align:center;
    position: absolute;
    top:57px;
    left:600px;
}
.verse2{
    font-size: 33pt;
    color:rgb(227, 194, 255);
    text-align: start;
    position:absolute;
    top:1015px;
    margin:0px 30px;
    padding-bottom: 30px;
}
button{
    width: 52px;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:indigo;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #fbff00;
    height: 100%;
    width: 0%;
    border-radius: 25 px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width:100%;
}
button:hover{
    border:none;
}